html {
    padding: 0%;
    margin: 0%;
}
body {
    padding: 0%;
    margin: 0%;
}
h1, h2, h4 {
    font-family: 'Dancing Script', cursive;
}
h1 {
    font-size: 5.5rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.2rem
}
h6 {
    font-size: 1rem;
}
h3,h6 {
    font-weight: normal;
}
header {
    background-color: black;
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-top: 0%;
    display: flex

}
.logotext {
    margin: 0px;
    padding-top: 1.5rem;
}
.logotext span {
    font-weight: bold!important;
}
.logotext h3 {
    margin: 0px;
    color: white
}
.logotext h6 {
    margin: 0px;
    color: #FBB100;
}
nav {
    padding: 1.5rem 0px;
}
.topnav {
    display: inline;
    padding: 0px 1rem;
}
.topnav a {
    text-decoration: none;
    color: white;
}
.goodlife {
    background-color: black;
    width: 1920;
    height: 1000;
    text-align: center;
    padding: 2rem 16rem;
    color: white;
}
.goodlife img {
    height: 5rem;
}
.button {
    background-color: #FBB100;
    width: 5rem;
    height: 2rem;
    padding-top: .5rem;
    margin: 1rem;
    display: inline-block;
}
.button a {
    text-decoration: none;
    color: black;
}
.offers {
    text-align: center;
    background-color: white;
}
.cupon {
    background-color: black;
    display: inline-block;
    width: 24rem;
    height: 16rem;
    margin: 3rem 2rem;
    padding: 2rem;
    color: white;
}
.welcome {
    width: 60.5rem;
    margin: 1rem 17rem;
    padding-bottom: 5rem;
}
.welcome h5 {
    color: #FBB100;
    font-weight: bolder;
}
.shipping {
    width: 20rem;
    display: inline-block;
    padding-top: 1rem;
    border-right: solid black;
    margin-bottom: 3rem;
}
#quality {
    border-right: solid white;
}
.cakes {
    text-align: center;
    padding: 2rem 0rem;
    background-color: #F4F4F4;
}
.cakes h5 {
    color: #FBB100;
}
.ad {
    background-image: url("./images/pic/postatio-cupcake.jpg");
    background-size: 65rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 60.5rem;
    height: 30rem;
    margin: 2rem 16rem;
    padding-top: 3.5rem;
    padding-left: 1rem;
    color: white;
    text-align: left;
}
.ad a {
    text-decoration: none;
    color: #FBB100;
}
.options {
    display: inline-block;
    background-color: #EDEDED;
    height: 3rem;
    width: 3.5rem;
    padding-top: .5rem;
    margin: 0rem 1rem;
}
.options h6 {
    padding: 0px;
    margin: 0px;
}
.testimonial {
    background-color: darkgrey;
    text-align: center;
    color: white;
    padding: 2rem 0rem;
    background-image: url("./images/pic/foodbkg.png");
    background-size: contain;
}
.testimonial h5,h6 {
    color: #FBB100;
    margin: 1rem;
}
.news {
    text-align: center;
    padding: 2rem 0rem;
}
.news h5 {
    color: #FBB100;
    margin: 0rem;
    padding: 0rem;
}
.news h2 {
    margin: 1rem;
}
.calendar {
    display: flex;
    justify-content: center;
}
.month {
    display: inline-block;
    text-align: left;
    width: 20rem;
    margin: 0rem;
    padding: 0rem 2rem;
}
.month h4 {
    margin-top: .3rem;
}
.month a {
    text-decoration: none;
    color: #FBB100;
}
.date {
    display: inline-block;
    width: 10rem;
    height: 6rem;
    border-right: solid black; 
    color: #DDDDDD;   
}
.date h2,h5 {
    padding: 0rem 1rem;
    margin: 0rem;
}
.message {
    background-color: #F4F4F4;
    text-align: center;
    padding: 2rem 0rem;

}
.message h5 {
    color: #FBB100;
    margin: 0rem;
}
.message h2 {
    margin-top: 1.5rem;
}
textarea {
    display: block;
    width:35rem;
    margin: 1rem 33%;
}
.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/pic/bkg-bread.jpg");
    background-size: contain;
    color: white;
    padding: 2rem 0rem;
}
.info {
    width: 25rem;
}
.info img {
    display: inline-block;
}
.infotext {
    display: inline-block;
    margin: 0rem 0rem;
}
.address a {
    text-decoration: none;
    color: white;
}
.contact-us {
    margin-top: 2rem;
}
.address {
    width: 25rem;
    display: inline-block;
    margin: 0rem;
}
.address h5 {
    color: #FBB100;
    margin: 0rem;
}
.address h2 {
    margin: .5rem 0rem;
}
.map {
    padding: 0rem;
    margin: 0rem;
    display: inline-block;
}
.map img {
    width: 35rem;
}
.newsletter {
    text-align: center;
    padding-top: 3rem;
    height: 18rem;
    background-image: url("./images/pic/lemon-bkg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.newsletter h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    margin-bottom: .5rem;
}
.newsletter h6 {
    margin-top: .5rem;
    color: black
}
.owner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote {
    background-color: burlywood;
    width: 40rem;
    display: inline-block;
    padding: 0rem 2rem;
}
.owner h6 {
    color: black
}
.owner h6 span {
    color: green;
}
.cupcake {
    display: inline-block;
    margin-top: 0rem;
}
.cupcake img {
    width: 40rem;
}
.bottom {
   background-color: white;
    width: 20rem;
    height: 40rem;
    margin: 1rem 2rem;
    text-align: center;
}
.bottom h3 {
    color:black;
}
.bottom h6 {
    color: black;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/pic/bkg-cutting-board.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
footer {
    display: flex;
    justify-content: space-between;
    border-top: solid black;
}
.c {
    display: inline-block;
    color: black;
}
.foot-nav {
    display: inline;
}
.foot-nav a {
    color: black;
}

/* media queries */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
          p {
         font-size: 2.5rem;
        }
        h5, h6 {
            font-size: 2rem;
        }
      
        img {
          height: 100%;
          width: auto;
      }
      body {
          font-size: 10px;
          width: 100%;
          text-align: center;
      }
      .goodlife {
        width: 68rem
        }
      header {
          width: 100rem;
          text-align: center;
      }
     
      
      
      .topnav {
          display: block;
          font-size: 3rem;
          padding: .5rem;
      }
      .cupon {
          display: block;
          width: 40rem;
          margin-left: 26rem;
      }
      .welcome {
          margin-left: 18rem;
      }
      .shipping {
          display: block;
          border-right: none;
          margin-left: 40rem;
      }
      .ad {
          margin-left: 18rem;
      }
      .cakes {
          width: 100rem;
      }
      .testimonial {
          width: 90rem;
          margin-left: 4rem;
      }
      .news {
          width: 50rem;
          margin-left: 24rem;
      }
      .message {
          width: 100rem;
      }
      .location {
          width: 100rem;
      }
      .newsletter {
          width: 100rem;
      }
      .owner {
          width: 100rem;
      }
      .contact {
          width: 100rem;
      }
      .bottom p {
          visibility: collapse;
      }
      footer {
          width: 100rem;
      }
    }